@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inspiration&family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Rubik+Marker+Hatch&display=swap');

/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: rgb(221, 221, 221);
    
}
nav {
    background: #222;
    padding: 0 15px;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}
.menu,
.submenu {   
    list-style-type: none;
}
.logo {
    font-size: 29px;
    padding: 0px 10px 0px 0;
    font-family: 'Rubik Marker Hatch', cursive;
    padding-left: 20px;
   
}

.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
    text-decoration: overline;
}
.logo:hover{
    text-shadow: 10px 50px 50px  rgb(255, 255, 255), 10px 10px 10px rgb(200, 43, 43);
    letter-spacing: 2px;
    font-family: 'Rubik Burned', cursive;
    
}


/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
    font-family: 'Roboto Condensed', sans-serif;
}
.active .item {
    display: block;
}
.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}


/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: 12px;
}
.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: white;
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: #111;
    border-radius: 3px;
}


/* Tablet menu */

    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .button a {
        background: #0080ff;
        border: 1px royalblue solid;
    }
    
    .button.secondary {
        border: 0;
    }
    .button.secondary a {
        background: transparent;
        border: 1px #0080ff solid;  
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }
    .button a:hover {
        background-color: #0080ff;
    }




/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
        padding-right: 0;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .button {
        order: 2;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }
    .toggle {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
}


body {
    margin: 0;
    padding: 0;
}
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 98.75%;
    height: 100%;
    background: url(Poster/header\ poster1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content {
    position: relative;
}
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    position: relative; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    font-family: 'Inspiration', cursive;
    letter-spacing: 17px;
    animation: ease-in;
    transition: ease-in;
}
.hero-title:hover{
    text-shadow: 5px 0px red,
    -5px 0px cyan;
}
.hero-subtitle {
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    margin-top: 1rem;
}

.hero-title:hover{
    font-style: bold;
    letter-spacing: 10px;
    font-size: 100px;
    letter-spacing: normal;
    font-family:'Inspiration', cursive;
}

.fade-in-top{
    animation: fadeIn 3s;
    text-align: center;
    color: #030303;
    
}
.fade-in-top:hover{
    /* box-shadow: 5px 5px red,
    -5px -5px cyan; */
    text-shadow: 5px 0px 10px red,
    -5px 0px 10px cyan;
    border-radius: 15px;
}

.fade-in-content{
    padding-top: 10px;
    padding-left: 90px;
    animation: fadeIn 4s;
    color: #030303;
    width:1300px;
    text-align: center;
}
.fade-in-head{
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.fade-in-text{
    color: #3f3f3f;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    padding-bottom: 50px;
}



@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/* catlogue area strated */
.content{
        height:140px;
        width:140px;
        border:10px ;
        float:left;
        margin:25px;
        background-color: #000000;
        border-radius: 1000px;
        color:#00bb89;
        padding: 10px;
        padding-top: 32px;
        font-style: bold;

        
}
.content:hover{
    box-shadow: 5px 0px 20px rgb(0, 255, 187),
    -5px 0px 20px cyan;
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}
.catlogue{
    text-align: center;
    padding-left: 140px;

}

.catlogue-text{
    font-family:'Dancing Script', cursive;
    padding-top: 10px;
    font-size: 35px;
    padding-bottom: 50px;
}

/* contact section */

.contact-section {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 3px 10px;
    background: var(--main-gray);
    background-color: #222;
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    /* flex-wrap: wrap; */
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
.btn-contact-details:hover {
    transform: translateY(-8px);
    font-size: 7rem;
  }
  
.btn-contact-details {
    display: inline-block;
    padding: 1rem 6rem;
    border-radius: 2px;
    font-size: 60px;
  }
.social{
    font-size: 20px;
    font-style: normal;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 10px;
}

/* About Us Section */
.column {
    float: left;
    width: 50%;
    padding: 40px;
    color: rgb(202, 202, 202);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.link{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #883a3a;
    font-size: large;
}
.corp{
    margin-bottom: 30px;
}

.creator{
    margin-bottom: 10px;
}

.copywrite{
    padding: 10px;
    padding-left: 50px;
}

hr{
    background: #888;
}

.creator .corp{
    color: rgb(133, 133, 133);
    font-style: oblique;
    
    
}

.foot{
    background-color: rgb(58, 58, 58);
}

.p1{
    margin: 0;
    padding: 2px;
}

.base{
    padding: 20px;
    background-color: #404040;
}
.catlogue-text-disc{
    font-family:'Dancing Script', cursive;
    font-size: 70px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #000000;
}
.catlogue-text-disc:hover{
    letter-spacing: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
    text-shadow: 0px 10px 10px rgba(213, 161, 31, 0.751);

}

.img-disc{
    margin-top: 0px;
    padding-top: 0px;
    width: 1300px;
    padding-left: 20px;
    height: 100%;
    border-radius: 20px;
}

.list-disc{
    padding: 20px;
    padding-left: 100px;
    list-style-type: circle;
    font-size: 20px;
    
}

.row-disc {
    display: flex;
}
  
.col-disc {
    flex: 50%;
    font-family: 'Roboto Condensed', sans-serif;
}

.sec-disc{
    margin-top: 29px;
    font-size: 22px;
    padding-left: 60px;
}